{% extends 'base.html.twig' %}

{% block title %}Actif{% endblock %}

{% block body %}
<?php require_once("../connexion.php"); 
?>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>gestion de stock</title>

    <!-- Custom fonts for this template -->
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "navbar.html.twig" %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "topbar.html.twig" %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Bilan</h1>
                    <p class="mb-4">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Structure du bilan</h6>
                            <br>
                            <div class=" form-group row">
                                <div class="col-md-2" >
                                    <button class="btn btn-info btn-user btn-block">Bilan au </button>
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" id="annee" name="annee" onchange="AnneBilan()">
                                        <option >Recherche a</option>
                                        {% for currentYear in 2024..2040 %}
                                            <option value="{{ currentYear }}"> {{ currentYear }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-user" onclick="updateActif()">Mise à jour de l'actif</button>
                                </div>
                                <form action="registerbilan.php" method="post">
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-danger btn-user" name="supprimer" id="supprimer">Supprimer </button>
                                        <input  name="datedele" id="datedele" value="{{ 'now' | date("Y")}}"> 
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                        <span id="message"><h3 class="text-success">Veuillez mettre votre Actif à jour</h3></span>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tableactif" width="100%" cellspacing="0" data-page-length='50' >
                                    <thead>
                                        <tr>
                                            <th rowspan="2" style="text-align: center;">Actif</th>
                                            
                                             <th colspan="4" style="text-align: center;" id="date">2022</th>
                                            
                                        </tr>
                                        <tr>
                                            <th>BRUT</th>
                                            <th>AMORT/PROV</th>
                                            <th>NET</th>
                                            <th>Operation</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Actif</th>
                                            <th>BRUT</th>
                                            <th>AMORT/PROV</th>
                                            <th>NET</th>
                                            <th>Operation</th>
                                        </tr>
                                    </tfoot>
                                    <tbody> 
                                        <tr>    
                                            <td style="color: blue;"></td>
                                            <td style="color: blue;"></td>
                                            <td style="color: blue;"></td>
                                            <td style="color: blue;"></td>
                                                    
                                            <td><a href='actif.php?id=" .$value["id"]. "' class='btn btn-primary' id='modification'><i class='fas fa-pencil-alt '></i></a>
                                                    
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>vestion test &copy; Your Website 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
{% endblock %}