{% extends 'base.html.twig' %}

{% block title %}Hello Classe1Controller!{% endblock %}

{% block body %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GESTION DE STOCK</title>

    <!-- Bootstrap core CSS -->
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "navbar.html.twig" %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "topbar.html.twig" %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <h6 class="m-0 font-weight-bold text-success">Report à nouveau</h6>      
                                </div>
                                <div class="col-sm-2">
                                    <i class="fa fa-home"></i>
                                    <a href="../../home.php" class="btn btn-primary">Home</a> 
                                </div>
                                <div class="col-sm-2">
                                    <i class="fa fa-plus"></i> 
                                    <a href="vente.php" class="btn btn-success"> Ajouter</a>         
                                </div>
                                <div class="col-sm-2"> 
                                    <a href="#" class="btn btn-warning">
                                        <i class="fa fa-download"></i>
                                        EXPORTER</a>
                                </div>
                            </div>
                            
                            <!-- Votre formulaire de filtres ici -->
                            <form action="../pdf/getTypeVente.php" method="post" class="user row">
                                
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4"> 
                                    <a href="#ReportCrediteur" class="btn btn-warning">
                                        Alimentation du Compte (Report à nouveau Créditeur)
                                    </a>
                                </div>
                                <div class="col-sm-4"> 
                                    <a href="#ReportDebiteur" class="btn btn-warning">
                                        Constitution d'un Report à nouveau Débiteur
                                    </a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                    
                <div class="container-fluid" id="ReportCrediteur">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="col-sm-6">
                                <h6 class="m-0 font-weight-bold text-success">Report à nouveau Créditeur</h6>      
                            </div>
                            <!-- Votre formulaire de filtres ici -->
                            <form action="#" method="post" class="user row">
                                
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Libellé de l'écriture</th>
                                            <th>Compte</th>
                                            <th>Débit</th>
                                            <th>Crédit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>JJ/MM/AAAA</td>
                                            <td>Affectation du résultat - Report du bénéfice</td>
                                            <td>13. Résultat net en instance d'affectation</td>
                                            <td>5 000 000</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>	12. Report à nouveau</td>
                                            <td></td>
                                            <td>5 000 000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" id="ReportDebiteur">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="col-sm-6">
                                <h6 class="m-0 font-weight-bold text-success">Report à nouveau Débiteur</h6>      
                            </div>
                            <!-- Votre formulaire de filtres ici -->
                            <form action="#" method="post" class="user row">
                                
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Libellé de l'écriture</th>
                                            <th>Compte</th>
                                            <th>Débit</th>
                                            <th>Crédit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>31/12/N</td>
                                            <td>12. Report à nouveau</td>
                                            <td>12. Résultat net de l'exercice</td>
                                            <td>1 200 000</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>112. Réserve statutaire</td>
                                            <td></td>
                                            <td>1 200 000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Production &copy;  <?php echo date("Y-m-d") ?></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- CORRECTION DES SCRIPTS - ORDRE IMPORTANT -->
    
    <!-- jQuery FIRST -->

    <!-- Initialisation de DataTable -->

</body>
</html>

{% endblock %}