{% extends 'base.html.twig' %}

{% block title %}Hello ProduitAController!{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Facture</title>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        @Page {
                    footer {
                       position: fixed;
                        bottom: 0cm;
                        left: 0cm;
                        right: 0cm;
                        height: 2cm;
                        text-align: center;
                    }
                }
</style>
</head>
<body>

<br><br><br> <table style="width:100%">
        <thead>
         <tr><th colspan="5" align="center">Produit sans date peremtion </th></tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Quantite</th>
            <th scope="col">Type</th>
            <th scope="col">lot 01 </th>
            <th scope="col">lot 02 </th>
            
        </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <br><br><br> <table style="width:100%">
        <thead>
         <tr><th colspan="2" align="center">Doublon de produit </th></tr>
        </thead>
        <tbody>
            <tr>
        
            </tr>
            <tr>
            <th scope="col">Nom</th>
            <th scope="col">nombre</th>
        </tr>
        <tr>
            <td></td>
            <td></td>    
        </tr>
        </tbody>
    </table>


</body>
</html>
{% endblock %}