{% extends 'base.html.twig' %}

{% block title %}Hello ComptabiliteController!{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GESTION DE STOCK</title>

    <!-- Custom fonts for this template-->
    <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="../../https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "navbar.html.twig" %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "topbar.html.twig" %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Marge Beneficier</h1>
                    
                        <div class="row">
                            
                            <p class="col-md-3 btn btn-user btn-block">
                               Entrez le numero Anne <input type="number" name="nombre" id="nombre" value="2024"> 
                            </p>
                           
                            <p class="col-md-2" >
                                <button class="btn btn-info btn-user btn-block" onclick="MargeBeneficier()">Affichier anne</button>
                            </p>
                        </div>
                    

                    <hr>
                    <!-- Content Row -->
                    <div class="row">

                        <div class="col-xl-12 col-lg-10">

                            <div class="col-lg-12">
                                <div class="card shadow mb-1">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Marge brute</h6>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <div class="card shadow mb-1">
                                                <div class="card-header py-3">
                                                    <h7 class="m-0 font-weight-bold text-primary">Ventes de Produit fabriquée  :</h7>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-6">
                                                    
                                                        <span id="profabri"> </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card shadow mb-1">
                                                <div class="card-header py-3">
                                                    <h7 class="m-0 font-weight-bold text-primary">Ventes de Produit :</h7>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-6">
                                                    
                                                        <span id="ventepro"> </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card shadow mb-1">
                                                <div class="card-header py-3">
                                                    <h7 class="m-0 font-weight-bold text-primary">Ventes de marchandises  :</h7>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-6">
                                                    
                                                        <span id="vente"> </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card shadow mb-1">
                                                <div class="card-header py-3">
                                                    <h7 class="m-0 font-weight-bold text-primary">Coût d'achat des marchandises :</h7>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-6">
                                                    
                                                        <span id="couachat"> </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow mb-1">
                                                <div class="card-header py-3">
                                                    <h7 class="m-0 font-weight-bold text-primary">resultat :</h7>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-6">
                                                    
                                                        <span id="resultat"> </span>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>
                        <!-- Donut Chart -->
                    </div> 
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Production &copy; {{ "now" | date("Y-m-d")}}</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    

    <!-- Bootstrap core JavaScript-->
    <!-- Page level plugins -->

</body>

</html>
{% endblock %}